dash==0.21.0
dash-renderer==0.11.3
dash-html-components==0.9.0
dash-core-components==0.20.2
dash-table-experiments==0.6.0
plotly==2.2.3
dash-auth
pyorbital
flask-caching
pandas
redis
gevent
gunicorn
greenlet
pandas-datareader
flake8
selenium
percy
futures
algoliasearch
dash_dangerously_set_inner_html
flask-cors
