#my-sequence-viewer, #my-dashbio-sequenceviewer {
    width: 420px;
    border: solid 1px gray;
    border-radius: 5px;
    padding: 5px; 
    display: inline-block;
    margin-left: auto;
    margin-right: auto; 
}
.dashbio-iframe ._dash-undo-redo {
    display: none !important;
}
