.custom-tabs-container {
    width: 80%;
}
.custom-tabs {
    border-top-left-radius: 3px;
    background-color: #fafbfc;
}

.custom-tab {
    color:#586069;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: none !important;
    background-color: #fafbfc;
    border-bottom: 1px solid lightgrey !important;
    padding: 12px !important;
    font-family: "system-ui";
}
.custom-tab--selected {
    color: black;
    border-bottom: none !important;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 3px solid #e36209 !important;
}